<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html">

<cc:interface>
    <cc:attribute name="height" type="java.lang.Integer" required="false" default="0"/>
    <cc:attribute name="width" type="java.lang.Integer" required="true" default="1"/>
</cc:interface>

<cc:implementation>
    <h:panelGroup id="spacer-br" rendered="#{cc.attrs.height gt 0}">
        <br/>
    </h:panelGroup>
    <h:graphicImage id="spacer" library="images/beetlejuice" name="spacer.gif" width="#{cc.attrs.width}" height="#{cc.attrs.height}"/>
</cc:implementation>

</html>
